/* Smaller Mobile screens of 600px and below  */

@media only screen and (max-width: 992px){
    
       
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #EEFDF8;
        margin: 20px 29px 10px;
        padding: 14px 16px;
    }
    
    .logo img{
        width: 127px;
        height: 30px;
    }
    
    .header-menu ul{
        display: flex;
        list-style-type: none;
        /* margin: 16px; */
        padding: 15px;
    }
    
    .header-menu ul li a{
        text-decoration: none;
        font-size: 16px;
        margin: 0 16px;
        font-weight: 600;
        color: black;
    }
    
    
    .header-button a{
        text-decoration: none;
        margin: 0 5px;
    
    }

    .header-button #hamburger{
        display: none;
    }
    
    .header-button #login{
        color: black;
        font-weight: 800;
    
    }
    
    .header-button #signup{
        color: #fff;
        background-color: #12A833;
        padding: 18px 25px;
    
    }

    .header #ham{
        display: none;
    }

    .header #hamburger{
        display: none;
    }
    
    .hero-section{
        /* width: 100%; */
        background-color: #F1F3F6;
    }
    
    .hero-section-container{
        margin: 0 50px;
        padding: 96px 12px 100px;
    }
    
    .hero-section .hero-section-container h2{
        font-size: 40px;
        font-weight: 400;
        font-family: 'Roobert';
        text-align: center  ;
    }
    
    .hero-section .hero-section-container p{
        font-size: 16px;
        text-align: center;
    }
    
    .contact-image-row{
        margin: 50px 200px 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .contact-text-row{
        margin: 50px 100px 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }
    
    .contact-text-row div{
        text-align: center;
    }
    .contact-text-row h2{
        text-align: center;
        font-size: 48px;
        font-weight: bold;
        margin: 0 0 16px;
    }
    
    .contact-text-row p{
        text-align: center;
        font-size: 16px;
        margin: 0 0 16px;
        text-decoration: none;
    }
    
    .contact-text-row a{
        text-decoration: none;
    }
    
    .map{
        margin: 0 28px;
    }
    
    .contact-form{
        margin: 70px 28px ;
    }
    .contact-form form div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-left: -10px;
    }
    .contact-form form #yourname {
        width: 50%;
        padding: 16px 12px;
        border: 1px solid #ccc;
        background-color: #f8f9fa;
        border-radius: 4px;
        margin: 6px 0 16px;
        resize: vertical;
      }
      .contact-form form #email {
        width: 50%;
        padding: 16px 12px;
        border: 1px solid #ccc;
        background-color: #f8f9fa;
        border-radius: 4px;
        margin: 6px 0 16px;
        resize: vertical;
      }
      
      .contact-form form #subject {
        width: 100%;
        padding:16px 12px;
        border: 1px solid #ccc;
        background-color: #f8f9fa;
        border-radius: 4px;
        margin: 6px 0 16px;
        resize: vertical;
      }
    
      .contact-form form #message {
        width: 100%;
        padding: 16px 12px;
        border: 1px solid #ccc;
        background-color: #f8f9fa;
        border-radius: 4px;
        margin: 6px 0 16px;
        resize: vertical;
      }
      .contact-form  input[type=submit] {
        background-color: #18CC3F;
        font-size: 16px;
        color: white;
        padding: 16px 70px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    
    .join-card{
        margin: 50px 22px ;
        width: 90%;
        color: #fff;
        text-align: center;
    }
    
    .join-card .card{
        padding: 80px 0;
    
        background-image: url(./background.png);
        background-size: contain;
        border-radius: 20px;
    }
    
    .join-card .card h2{
        font-size: 41px;
        color: #fff;
    }
    
    .join-card .card p{
        color: #fff;
        font-size: 19px;
        margin: 16px 0 0;
    }
    
    .join-card .card .social-icons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin: 48px 0 0;
    }
    
    
    .footer{
        background-color: #000;
        color: #fff;
        width: 100%;
    }

    
    #news{
        margin-left: -20px;
        /* gap: 40px; */
    }

    /* #legal{
        margin-left: 30px;
    } */
    
    .container{
        margin: -200px 0 0;
        padding: 300px 0 0;
    }
    
    .footer .container #links ul li a{
        color: #fff;
    }
    
    .footer .container #links ul li a:hover{
        color: #12A833;
    }
    
    #button{
        background-color: #18CC3F;
    }
    
}

/* Smaller Mobile screens of 600px and below  */

@media only screen and (max-width: 768px){
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #EEFDF8;
        margin: 20px 18px 10px;
        padding: 14px 16px;
    }
    
    .logo img{
        max-width: 127px;
        height: auto;
        /* width: 127px;
        height: 30px; */
    }
    
    .header-menu ul{
        display: flex;
        list-style-type: none;
        /* margin: 16px; */
        padding: 15px;
    }
    
    .header-menu ul li a{
        text-decoration: none;
        font-size: 16px;
        margin: 0 16px;
        font-weight: 600;
        color: black;
    }
    
    
    .header-button a{
        text-decoration: none;
        margin: 0;
    
    
    }

    .header #hamburger{
        display: block;
        margin-left: 150px;
        
    }

    #hamburger:checked ~ .main-menu{
        display: block;
    }

    .header #ham{
        display: none;
        /* margin-left: 50px; */
    }

    
    nav {
        display: block;
        margin-left: 1rem;
        z-index: 1;
        position: absolute;
        top: 100;
        right: 0;
        background-color: #EEFDF8;
      }
      
      .main-menu {
        
        display: block;
        list-style: none;
        margin: 0 0;
        padding: 0;

      }
      
      .main-menu li {
        position: relative;
    
      }
      
      .main-menu li a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        color: #333;
        font-weight: bold;
        
      }
      
      .main-menu li:hover .sub-menu {
        margin: 0px 30px 30px -250px;
        padding: 10px 30px;
        border-radius: 20px;
        width: 70vw;
        display: block;
        
        
      }
    
      .main-menu li:hover .company-menu {
        margin: -15px 30px 0 -50px;
        padding: 10px 20px;
        border-radius: 20px;
        width: 35vw;
        display: block;
        /* grid-template-columns: repeat(3, 1fr); */
        
      }
      
      .sub-menu {
        
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 1;
      }
    
      .company-menu {
        
        position: absolute;
        top: 100%;
        right: 100;
        background-color: #fff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 1;
      }
      
      .sub-menu li {
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: -50px;
      }
      
      .sub-menu li img{
        display: none;
        width: 55px;
      }
    
      .sub-menu .menu-texts h2{
        
        font-size: 19px;
        color: #000;
        padding-left: 10px;
      }
    
      .sub-menu .menu-texts p{
        display: none;
        font-size: 14px;
        margin: 8px 0 16px;
        font-weight: lighter;
        padding-left: 10px;
      }
    
      .sub-menu li a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
        text-decoration: none;
        color: #333;
      }
      

    

    .header-button #signup{
        margin-left: -90px;
    
    }
    
    .header-button #login{
        display: none;
        color: black;
        font-weight: 800;
    
    }
    
    .header-button #signup{
        color: #fff;
        background-color: #12A833;
        padding: 8px 15px;
    
    }
}

/* Smaller Mobile screens of 600px and below  */

@media only screen and (max-width: 600px){
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #EEFDF8;
        margin: 20px 18px 10px;
        padding: 14px 16px;
    }
    
    .logo img{
        max-width: 127px;
        height: auto;
        /* width: 127px;
        height: 30px; */
    }
    
    .header-menu ul{
        display: flex;
        list-style-type: none;
        /* margin: 16px; */
        padding: 15px;
    }
    
    .header-menu ul li a{
        text-decoration: none;
        font-size: 16px;
        margin: 0 16px;
        font-weight: 600;
        color: black;
    }
    
    
    .header-button a{
        text-decoration: none;
        margin: 0;
    
    
    }

    .header #hamburger{
        display: block;
        margin-left: -75px;
        
    }

    #hamburger:checked ~ .main-menu{
        display: block;
    }

    .header #ham{
        display: none;
        /* margin-left: 50px; */
    }

    
    nav {
        display: block;
        margin-left: 1rem;
        z-index: 1;
        position: absolute;
        top: 100;
        right: 0;
        background-color: #EEFDF8;
      }
      
      .main-menu {
        
        display: block;
        list-style: none;
        margin: 0 0;
        padding: 0;

      }
      
      .main-menu li {
        position: relative;
    
      }
      
      .main-menu li a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        color: #333;
        font-weight: bold;
        
      }
      
      .main-menu li:hover .sub-menu {
        margin: 0px 30px 30px -250px;
        padding: 10px 30px;
        border-radius: 20px;
        width: 70vw;
        display: block;
        
        
      }
    
      .main-menu li:hover .company-menu {
        margin: -15px 30px 0 -50px;
        padding: 10px 20px;
        border-radius: 20px;
        width: 35vw;
        display: block;
        /* grid-template-columns: repeat(3, 1fr); */
        
      }
      
      .sub-menu {
        
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 1;
      }
    
      .company-menu {
        
        position: absolute;
        top: 100%;
        right: 100;
        background-color: #fff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 1;
      }
      
      .sub-menu li {
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: -50px;
      }
      
      .sub-menu li img{
        display: none;
        width: 55px;
      }
    
      .sub-menu .menu-texts h2{
        
        font-size: 19px;
        color: #000;
        padding-left: 10px;
      }
    
      .sub-menu .menu-texts p{
        display: none;
        font-size: 14px;
        margin: 8px 0 16px;
        font-weight: lighter;
        padding-left: 10px;
      }
    
      .sub-menu li a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
        text-decoration: none;
        color: #333;
      }
      

    

    .header-button #signup{
        margin-left: -90px;
    
    }
    
    .header-button #login{
        color: black;
        font-weight: 800;
    
    }
    
    .header-button #signup{
        color: #fff;
        background-color: #12A833;
        padding: 8px 15px;
    
    }
    .contact-image-row{
        margin: 50px 100px 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .contact-text-row{
        margin: 50px 0 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }
    
    .contact-text-row div{
        text-align: center;
    }
    .contact-text-row h2{
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        margin: 0 0 16px;
    }
    
    .contact-text-row p{
        text-align: center;
        font-size: 16px;
        margin: 0 0 16px;
        text-decoration: none;
    }
    
    .contact-text-row a{
        text-decoration: none;
    }
}